body {
  display: grid;
  margin: 0;
  height: 1000px;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  grid-template-rows: 3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* SlideAnimation.tsx Classes and styling after this */

.bg {
  display: grid;
  background: linear-gradient(-45deg, #000000, #000000, #790ad4, #000000);
  font-family: "Fira Code";
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 120vh;
  grid-template-columns: 0.85fr 3fr 0.4fr;
  grid-template-rows: 0.4fr 0.5fr 1.5fr 1fr;
  border-bottom: 1px solid #3b3b3b; /* Add a 1px solid gray border */
}

@media (max-width: 425px) {
  .typewriter-container {
    font-size: 57%; /* Adjust the maximum width for smaller screens */
    left: 53.5%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* SlideAnimation.tsx Classes and styling, ending*/

/* TypingIntro.tsx Classes and styling begins after this */

.typewriter-container {
  display: grid;
  font-size: 80%;
  font-family: "Fira Code";
  font-weight: 1%;
  position: relative;
  top: 110%;
  left: 0%;
  grid-template-columns: 0.2fr;
  grid-column: 2; /* Span across all columns */
  grid-template-rows: 1fr;
  grid-row: 1; /* Place in the first row */
}

.typewriter h1 {
  color: rgb(225, 136, 226);
  position: relative;
  font-family: "Arial";
  overflow: hidden;
  width: fit-content;
  border-right: 0.15em solid rgb(255, 255, 255);
  white-space: nowrap;
  font-size: 140%;
  letter-spacing: 0.15em;
  animation-fill-mode: forwards;
  animation: typing 1.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@media (max-width: 425px) {
  .typewriter-container {
    font-size: 57%; /* Adjust the maximum width for smaller screens */
  }
}

@media (max-width: 376px) {
  .typewriter-container {
    font-size: 57%; /* Adjust the maximum width for smaller screens */
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

.descript_intro {
  font-family: "Fira Code";
  position: relative;
  font-size: 110%;
  text-align: left;
  width: 85%;
  font-weight: 600;
  color: white;
  grid-column: 2;
  grid-row: 4;
}

@media (max-width: 1024px) {
  .descript_intro {
    font-size: 100%;
  }
}

@media (max-width: 375px) {
  .descript_intro {
    font-size: 90%;
  }
}

.name_intro {
  font-family: "Fira Code";
  position: absolute;
  font-size: 245%;
  text-align: left;
  left: 20.14%;
  top: 30%;
  width: 35%;
  color: white;
  grid-column: 1;
  grid-row: 3;
}

@media (max-width: 768px) {
  .name_intro {
    font-size: 220%; /* Adjust the maximum width for smaller screens */
    width: 55%;
  }
}

@media (max-width: 669px) {
  .name_intro {
    font-size: 200%; /* Adjust the maximum width for smaller screens */
    width: 55%;
  }
}

@media (max-width: 618px) {
  .name_intro {
    font-size: 180%; /* Adjust the maximum width for smaller screens */
    width: 55%;
  }
}

@media (max-width: 550px) {
  .name_intro {
    font-size: 150%; /* Adjust the maximum width for smaller screens */
    width: 62%;
  }
}

@media (max-width: 425px) {
  .name_intro {
    font-size: 150%; /* Adjust the maximum width for smaller screens */
    width: 72%;
  }
}

@media (max-width: 375px) {
  .name_intro {
    font-size: 120%; /* Adjustthe maximum width for smaller screens */
    width: 75%;
  }
}

@media (max-width: 325px) {
  .name_intro {
    font-size: 120%; /* Adjust the maximum width for smaller screens */
    width: 82%;
  }
}
/* TypingIntro.tsx Classes and styling ends here */

/* IconMenu.tsx Classes and styling starts here */

.icon-menu {
    /* Positioning */
    position: fixed;
    top:35%;
    width: 4%; /* Set the width of the rectangle */
    height: 28%; /* Set the height of the rectangle */
  
    background: rgba(41, 41, 41, 0.27);
    backdrop-filter: blur(0.7px);
    margin-top: 12px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
  
    /* Grid template for main container */
    display: grid;
    font-family: "Fira Code";
    font-size: 90%;
    font-weight: 600;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1;
    grid-row: 3;
}

@media (max-width: 768px) {
  .icon-menu {
    width: 7%;
  }
}

@media (max-width: 425px) {
  .icon-menu {
    width: 7%;
    top: 30%;
  }
}

.gitlogo {
  position: relative;
  width: 99%;
  grid-row: 1;
}

.linkedinlogo {
  position: relative;
  width: 86.5%;
  top: 26%;
  right: 0.2%;
  grid-row: 2;
}

.emaillogo {
  position: relative;
  top: 40.5%;
  width: 78%;
  height: 58%;
  right: -1%;
  grid-row: 3;
}

.glow-on-hover:hover {
  filter: drop-shadow(0 0 2.5px white);
  transition: filter 0s ease-in-out;
}

/* SecondPage.tsx Classes and styling starts here */

.second-page {
  display: grid;
  background: rgb(15, 15, 15);
  height: 300vh;
  background-position: 0% 700%;
  grid-template-columns: 0.6fr 3fr 0.6fr;
  grid-template-rows: 0.4fr 0.9fr 0.7fr 0.8fr 1fr;
  border-bottom: 1px solid #3b3b3b; /* Add a 1px solid gray border */
}

.work-header {
  position: relative;
  font-size: 500%;
  font-family: "Calibri", sans-serif;
  color: #ffffff;
  left: -0.5%;
  top: 35%;

  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  mask-size: 200%;
  animation: shine 1.7s infinite;

  background: #b1b1b1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 2px;
  grid-column: 2;
}

@keyframes shine {
  from {
    mask-position: 150%;
  }
  
  to {
    mask-position: -50%;
  }
}

@media (max-width: 811px) {
  .work-header {
    font-size: 400%;
  }
}

@media (max-width: 595px) {
  .work-header {
    font-size: 300%;
  }
}

@media (max-width: 456px) {
  .work-header {
    font-size: 200%;
  }
}

.dayforce-container {
  display: grid;
  position: relative;
  background: rgba(41, 41, 41, 0.27);
  backdrop-filter: blur(0.7px);
  height: 55%;
  top: 16%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 2);
  border: 0.5px solid rgb(45, 45, 45);
  border-radius: 25px;
  box-sizing: border-box;
  grid-template-columns: 2.2fr 0.55fr;
  grid-template-rows: 0.8fr 2fr; /* Adjust as needed */

  grid-row: 2;
  grid-column: 2;
}

@media (max-width: 446px) {
  .dayforce-container {
    height: 65%;
  }
}

.dayforce-name {
  position: relative;
  text-align: left;
  top: 30%;
  left: 2%;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  font-size: 100%;
  font-weight: bold;
  color: rgb(255, 255, 255);
  grid-row: 1;
  grid-column: 1;
}

@media (max-width: 1213px) {
  .dayforce-name {
    font-size: 95%;
  }
}

@media (max-width: 1095px) {
  .dayforce-name {
    font-size: 80%;
  }
}

@media (max-width: 600px) {
  .dayforce-name {
    font-size: 75%;
  }
}

@media (max-width: 323px) {
  .dayforce-name {
    font-size: 65%;
  }
}

@media (max-width: 308px) {
  .dayforce-name {
    font-size: 50%;
  }
}

.dayforce-date {
  position: relative;
  text-align: left;
  top: 30%;
  left: 11%;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  font-size: 100%;
  font-weight: bold;
  color: rgb(255, 255, 255);
  grid-row: 1;
  grid-column: 2;
}

@media (max-width: 1359px) {
  .dayforce-date {
    left: 5%;
  }
}

@media (max-width: 1213px) {
  .dayforce-date {
    font-size: 95%;
    left: 0%;
  }
}

@media (max-width: 1095px) {
  .dayforce-date {
    font-size: 80%;
    left: 0%;
  }
}

@media (max-width: 600px) {
  .dayforce-date {
    font-size: 77%;
    left: 0%;
  }
}

@media (max-width: 411px) {
  .dayforce-date {
    left: -4%;
    font-size: 75%;
  }
}

@media (max-width: 323px) {
  .dayforce-date {
    font-size: 65%;
    left: -2%;
  }
}

@media (max-width: 308px) {
  .dayforce-date {
    font-size: 50%;
  }
}

.dayforce-position {
  position: relative;
  text-align: left;
  left: 2%;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  font-size: 100%;
  top: 60%;
  font-style: italic;
  font-weight: 300;
  color: rgb(255, 255, 255);
  grid-row: 1;
  grid-column: 1;
}

@media (max-width: 1213px) {
  .dayforce-position {
    font-size: 95%;
  }
}

@media (max-width: 458px) {
  .dayforce-position {
    top: 55%;
  }
}

.dayforce-points {
  position: relative;
  list-style-type: none;
  font-family: "Fira Code";
  font-size: 91%;
  top: 5%;
  color: white;
  left: 2%;
  font-weight: 500;
  padding: 0;
  grid-row: 2;
  grid-column: 1;
  margin: 0;
}

@media (max-width: 896px) {
  .dayforce-points {
    font-size: 80%;
  }
}

@media (max-width: 680px) {
  .dayforce-points {
    font-size: 70%;
  }
}

@media (max-width: 434px) {
  .dayforce-points {
    font-size: 68%;
    top: 2%;
  }
}

@media (max-width: 360px) {
  .dayforce-points {
    font-size: 63%;
  }
}

.dayforce-points li {
  margin-left: 20px;
  text-indent: 0; /* Adjust the indent as needed */
  text-align: left;
  list-style: disc; /* Set the list style explicitly */
}

.subnet-container {
  display: grid;
  position: relative;
  background: rgba(41, 41, 41, 0.27);
  backdrop-filter: blur(0.7px);
  height: 72%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 2);
  border-radius: 25px;
  border: 0.5px solid rgb(45, 45, 45);
  box-sizing: border-box;
  grid-template-columns: 2.2fr 0.55fr;
  grid-template-rows: 0.9fr 2fr; /* Adjust as needed */

  grid-row: 3;
  grid-column: 2;
}

@media (max-width: 446px) {
  .subnet-container {
    height: 80%;
  }
}

.subnet-name {
  position: relative;
  text-align: left;
  top: 30%;
  left: 2%;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  font-size: 100%;
  font-weight: bold;
  color: rgb(255, 255, 255);
  grid-row: 1;
  grid-column: 1;
}

@media (max-width: 1213px) {
  .subnet-name {
    font-size: 95%;
  }
}

@media (max-width: 1095px) {
  .subnet-name {
    font-size: 80%;
  }
}

@media (max-width: 600px) {
  .subnet-name {
    font-size: 75%;
  }
}

@media (max-width: 323px) {
  .subnet-name {
    font-size: 65%;
  }
}

@media (max-width: 308px) {
  .subnet-name {
    font-size: 50%;
  }
}

.subnet-position {
  position: relative;
  text-align: left;
  left: 2%;
  top: 65%;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  font-size: 100%;
  font-style: italic;
  font-weight: 300;
  color: rgb(255, 255, 255);
  grid-row: 1;
  grid-column: 1;
}

@media (max-width: 1213px) {
  .subnet-position {
    font-size: 95%;
  }
}

.subnet-date {
  position: relative;
  text-align: left;
  top: 15%;
  left: 0%;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  font-size: 100%;
  font-weight: bold;
  color: rgb(255, 255, 255);
  grid-row: 1;
  grid-column: 2;
}

@media (max-width: 1213px) {
  .subnet-date {
    font-size: 95%;
    left: -8%;
  }
}

@media (max-width: 1095px) {
  .subnet-date {
    font-size: 80%;
  }
}

@media (max-width: 600px) {
  .subnet-date {
    font-size: 77%;
  }
}

@media (max-width: 411px) {
  .subnet-date {
    font-size: 75%;
  }
}

@media (max-width: 323px) {
  .subnet-date {
    font-size: 65%;
  }
}

@media (max-width: 308px) {
  .subnet-date {
    font-size: 50%;
  }
}

.subnet-points {
  position: relative;
  list-style-type: none;
  font-family: "Fira Code";
  font-size: 91%;
  top: 5%;
  color: white;
  left: 2%;
  font-weight: 500;
  padding: 0;
  grid-row: 2;
  grid-column: 1;
  margin: 0;
}

@media (max-width: 896px) {
  .subnet-points {
    font-size: 80%;
  }
}

@media (max-width: 680px) {
  .subnet-points {
    font-size: 70%;
  }
}

@media (max-width: 411px) {
  .dayforce-points {
    font-size: 64%;
  }
}

@media (max-width: 360px) {
  .subnet-points {
    font-size: 63%;
  }
}

@media (max-width: 320px) {
  .subnet-points {
    font-size: 62%;
    top: 3%;
  }
}

.subnet-points li {
  margin-left: 20px;
  text-indent: 0; /* Adjust the indent as needed */
  text-align: left;
  list-style: disc; /* Set the list style explicitly */
}

.uni-container {
  display: grid;
  position: relative;
  background: rgba(41, 41, 41, 0.27);
  backdrop-filter: blur(0.7px);
  height: 67%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 2);
  border: 0.5px solid rgb(45, 45, 45);
  border-radius: 25px;
  box-sizing: border-box;
  grid-template-columns: 2.2fr 0.55fr;
  grid-template-rows: 0.7fr 2fr; /* Adjust as needed */

  grid-row: 4;
  grid-column: 2;
}

@media (max-width: 481px) {
  .uni-container {
    height: 73%;
  }
}

@media (max-width: 458px) {
  .uni-container {
    height: 75%;
  }
}

@media (max-width: 380px) {
  .uni-container {
    height: 74%;
  }
}

@media (max-width: 336px) {
  .uni-container {
    height: 77%;
  }
}

.uni-points {
  position: relative;
  list-style-type: none;
  font-family: "Fira Code";
  font-size: 91%;
  top: 5%;
  color: white;
  left: 2%;
  font-weight: 500;
  padding: 0;
  grid-row: 2;
  grid-column: 1;
  margin: 0;
}

@media (max-width: 896px) {
  .uni-points {
    font-size: 80%;
  }
}

@media (max-width: 680px) {
  .uni-points {
    font-size: 70%;
  }
}

@media (max-width: 458px) {
  .uni-points {
    top: -2%;
  }
}

@media (max-width: 411px) {
  .uni-points {
    font-size: 67%;
  }
}

@media (max-width: 360px) {
  .uni-points {
    font-size: 60%;
  }
}

.uni-points li {
  margin-left: 20px;
  text-indent: 0;
  text-align: left;
  list-style: disc;
}

.painworth-container {
  display: grid;
  position: relative;
  background: rgba(41, 41, 41, 0.27);
  backdrop-filter: blur(0.7px);
  height: 67%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 2);
  border-radius: 25px;
  border: 0.5px solid rgb(45, 45, 45);
  box-sizing: border-box;
  grid-template-columns: 2.2fr 0.55fr;
  grid-template-rows: 0.7fr 2fr; /* Adjust as needed */

  grid-row: 5;
  grid-column: 2;
}

@media (max-width: 768px) {
  .painworth-container {
    height: 72%;
  }
}

@media (max-width: 768px) {
  .painworth-container {
    height: 73%;
  }
}

@media (max-width: 518px) {
  .painworth-container {
    height: 75%;
  }
}

@media (max-width: 517px) {
  .painworth-container {
    height: 77%;
  }
}

@media (max-width: 360px) {
  .painworth-container {
    height: 80%;
  }
}

.painworth-points {
  position: relative;
  list-style-type: none;
  font-family: "Fira Code";
  font-size: 91%;
  top: 2%;
  color: white;
  left: 2%;
  font-weight: 500;
  padding: 0;
  grid-row: 2;
  grid-column: 1;
  margin: 0;
}

@media (max-width: 896px) {
  .painworth-points {
    font-size: 80%;
  }
}

@media (max-width: 680px) {
  .painworth-points {
    font-size: 70%;
  }
}

@media (max-width: 493px) {
  .painworth-points {
    top: 1%;
  }
}

@media (max-width: 411px) {
  .painworth-points {
    font-size: 64%;
    top: -4%;
  }
}

@media (max-width: 380px) {
  .painworth-points {
    font-size: 63%;
    top: -1%;
  }
}

@media (max-width: 380px) {
  .painworth-points {
    font-size: 63%;
    top: -1%;
  }
}

@media (max-width: 353px) {
  .painworth-points {
    font-size: 63%;
    top: 2.5%;
  }
}

.painworth-points li {
  margin-left: 20px;
  text-indent: 0; /* Adjust the indent as needed */
  text-align: left;
  list-style: disc; /* Set the list style explicitly */
}

.painworth-position {
  position: relative;
  text-align: left;
  left: 2%;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  font-size: 100%;
  top: 53%;
  font-style: italic;
  font-weight: 300;
  color: rgb(255, 255, 255);
  grid-row: 1;
  grid-column: 1;
}

@media (max-width: 1213px) {
  .painworth-position {
    font-size: 95%;
  }
}

/* ThirdPage.tsx and its associated */

.third-page {
  display: grid;
  background: rgb(10, 10, 10);;
  height: 200vh;
  background-position: 0% 700%;
  grid-row: 3;
  grid-template-columns: 0.6fr 3fr 0.6fr;
  grid-template-rows: 0.4fr 0.9fr 0.7fr 0.8fr 1fr;
}

