.voltscript-container {
  display: grid;
  box-sizing: border-box;
  place-items: center;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  color: rgb(33, 181, 222);
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
  grid-column: 1;
  width: 90%;
  grid-row: 1;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.1fr 0.4fr 0.7fr 0.5fr;
}

.voltscript-container.hovered {
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
}

.firealert-container {
  display: grid;
  box-sizing: border-box;
  place-items: center;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(216, 191, 191, 0.6);
  grid-column: 2;
  grid-row: 1;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.7fr 0.5fr 0.3fr;
}

.firealertrow-two{
  top: 0%;
  display: grid;
  position: relative;
  place-items: center;
  grid-template-columns: 2fr;
  grid-template-rows: 3.8fr 0.5fr;
  grid-column: 2;
  grid-row: 1;
}

.firealert-container.hovered {
  box-shadow: 0px 0px 10px rgba(216, 191, 191, 1.2);
}
.thriftaid-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(216, 191, 191, 0.6);
  grid-column: 3;
  grid-row: 1;
  width: 90%;
  margin-left: 10%;
  grid-template-columns: 0.2fr 2fr 0.2fr;
  grid-template-rows: 0.5fr 0.5fr 0.3fr;
}

.thriftaid-container.hovered {
  box-shadow: 0px 0px 10px rgba(216, 191, 191, 1.2);
}

.thriftaidrow-two{
  top: 0%;
  display: grid;
  position: relative;
  place-items: center;
  grid-template-columns: 2fr;
  grid-template-rows: 3.8fr 0.5fr;
  grid-column: 2;
  grid-row: 1;
}

.thriftaidrow-three{
  top: 10%;
  display: grid;
  left: 11%;
  position: relative;
  place-items: center;
  grid-template-columns: 0.8fr;
  grid-template-rows: 3.5fr 1.5fr;
  grid-column: 2;
  grid-row: 2;
}

.growinglinethree {
  width: 0;
  margin-bottom: 5px;
  height: 0.2%;
  background-color: #ffffff; /* You can change the color to your preference */
  animation: growLineTwice 1s ease forwards; /* Adjust the duration for the growing animation */
  position: relative;
}

@keyframes growLineTwice {
  to {
      width: 50%;
  }
  
}

.thriftaidrow-four {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr); /* Updated for four columns */
  grid-template-rows: 1fr 1fr 1fr; /* Updated for two rows */
}

/* Adjusted styling for row-four content */
.thriftaidrow-four div {
  background-color: black;
  color: rgb(216, 191, 191);
  margin: 5px;
  padding: 5px;
  display: inline-block;
  border-radius: 6px;
}