.voltscript-container {
  display: grid;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
  grid-column: 1;
  height: 50%;
  width: 90%;
  grid-row: 1;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
}

.voltscript-container.hovered {
  display: grid;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
  grid-column: 1;
  height: 50%;
  width: 90%;
  grid-row: 1;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  animation: growBoxDown 0.6s ease forwards;
}

.firealert-container {
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
  grid-column: 2;
  grid-row: 1;
  height: 50%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.firealert-container.hovered {
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
  grid-column: 2;
  grid-row: 1;
  height: 50%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  animation: growBoxDown 0.6s ease forwards;
}

.thriftaid-container {
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
  grid-column: 3;
  grid-row: 1;
  height: 50%;
  width: 90%;
  margin-left: 10%;
}

.thriftaid-container.hovered {
  /* Your styles for the hover effect */
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
  grid-column: 3;
  grid-row: 1;
  height: 50%;
  width: 90%;
  margin-left: 10%;
  animation: growBoxDown 0.6s ease forwards;
}

@keyframes growBoxDown {
  to {
    height: 100%;
    transform: scaleY(1);
  }
}