.thriftaid-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(216, 191, 191, 0.6);
  grid-column: 3;
  grid-row: 1;
  width: 90%;
  margin-left: 10%;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.63fr 0.6fr 0.4fr;
}

.thriftaid-container.hovered {
  box-shadow: 0px 0px 10px rgba(216, 191, 191, 1.2);
}

.thriftaidrow-two{
  top: 0%;
  display: grid;
  position: relative;
  place-items: center;
  grid-template-columns: 2fr;
  grid-template-rows: 3.8fr 0.5fr;
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 12px;
}

.thriftaidrow-three{
  top: 10%;
  display: grid;
  left: 11%;
  position: relative;
  place-items: center;
  grid-template-columns: 0.8fr;
  grid-template-rows: 3.5fr 1.5fr;
  grid-column: 2;
  grid-row: 2;
}

.growinglinethree {
  width: 0;
  margin-bottom: 5px;
  height: 0.2%;
  background-color: #ffffff; /* You can change the color to your preference */
  animation: growLineTwice 1s ease forwards; /* Adjust the duration for the growing animation */
  position: relative;
}

@keyframes growLineTwice {
  to {
      width: 50%;
  }
  
}

.thriftaidrow-four {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  position: relative;
  grid-template-columns: 1.2fr 1.2fr 1.2fr; /* Updated for four columns */
  grid-template-rows: 2.5rem 2.5rem 2.5rem; /* Updated for two rows */
  font-size: 85%;
}

/* Adjusted styling for row-four content */
.thriftaidrow-four div {
  background-color: black;
  color: rgb(216, 191, 191);
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
}

.firealert-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(216, 191, 191, 0.6);
  grid-column: 2;
  grid-row: 1;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.63fr 0.6fr 0.4fr;
}

/* Consider using for laptop sizes: grid-template-rows: 14rem 13.5rem 9.6rem; */

.firealertrow-two{
  top: 0%;
  display: grid;
  position: relative;
  place-items: center;
  grid-template-columns: 2fr;
  grid-template-rows: 3.8fr 0.5fr;
  grid-column: 2;
  grid-row: 1;
}

.firealert-container.hovered {
  box-shadow: 0px 0px 10px rgba(216, 191, 191, 1.2);
}

.firealertrow-three{
  top: 10%;
  display: grid;
  left: 11%;
  position: relative;
  place-items: center;
  grid-template-columns: 0.8fr;
  grid-template-rows: 3.5fr 1.5fr;
  grid-column: 2;
  grid-row: 2;
}

.firealertrow-four {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  position: relative;
  grid-template-columns: 1.2fr 1.2fr 1.2fr; /* Updated for four columns */
  grid-template-rows: 2.5rem 2.5rem 2.5rem; /* Updated for two rows */
}

/* Adjusted styling for row-four content */
.firealertrow-four div {
  background-color: black;
  color: rgb(216, 191, 191);
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  font-size: 85%;
}

.voltscript-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(216, 191, 191, 0.6);
  grid-column: 1;
  grid-row: 1;
  width: 90%;
  margin-right: 10%;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.6fr 0.6fr 0.4fr;
}
/* color: rgb(33, 181, 222); */

.voltscript-container.hovered {
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
}

.firealertrow-two{
  top: 0%;
  display: grid;
  position: relative;
  place-items: center;
  grid-template-columns: 2fr;
  grid-template-rows: 3.8fr 0.5fr;
  grid-column: 2;
  grid-row: 1;
}

.gradient-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(216, 191, 191, 0.6);
  grid-column: 1;
  grid-row: 2;
  width: 90%;
  margin-right: 10%;
  margin-top: 50px;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.6fr 0.6fr 0.4fr;
}

.albertaloop-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(216, 191, 191, 0.6);
  grid-column: 2;
  grid-row: 2;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.63fr 0.6fr 0.4fr;
}

.ecoeats-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(216, 191, 191, 0.6);
  grid-column: 3;
  grid-row: 2;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.63fr 0.6fr 0.4fr;
}
/* CURRENTLY 1106px is where top container project row gets out of alignment */